* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #7aa2f7;
}

window#waybar {
  background-color: transparent;
  border-bottom: 3px solid transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inset 0 -3px #c0caf5;
}

#workspaces button {
  padding: 5px;
  background-color: transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  box-shadow: inset 0 -3px #c0caf5;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#language,
#submap,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#window,
#workspaces {
  margin-top: 0.2rem;
  background-color: #1a1b26;
  padding: 0 0.5rem;
  border-radius: 0.75rem
}

#tray {
  margin-right: 0.5rem;
}

#submap {
  font-weight: bold;
  background-color: #eb4d4b;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 8px;
}
